# Tên ứng dụng
APP_NAME="Data Platform API"

# Môi trường (local, staging, prod)
ENVIRONMENT="local"

# Đường dẫn file dữ liệu
# Đang dùng file giả lập ở Local:
DATA_PATH="src/api/data/dummy_prices.parquet"

